components
public
src
docs
dist
build

deploy.sh
.husky/commit-msg
.eslintrc.js
.eslintignore
.cz-config.js
babel.config.js
package-lock.json
vue.config.js
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.map
.env.lib
commitlint.config.js
package.json

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?