*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

@mixin scrollbar {
  max-height: 88vh;
  margin-bottom: 0.5vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    position: relative;
    z-index: 2000;
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, 0.3);
  }
}

@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f8fafc;
  }
}
.el-main{
  @include base-scrollbar;
}
html {
  body {
    position: relative;
    padding: 0;
    margin: 0;
    color: #2c3e50;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include base-scrollbar;

    div {
      @include base-scrollbar;
    }
  }
}

$borderColor: #EBEEF5;

.flex_col{
  display: flex;
  flex-direction: column-reverse;
  border: 1px $borderColor solid;
  padding: 10px;
  margin-bottom: 10px;
}

.hljs{
  @include base-scrollbar;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 4px;
  code{
    line-height: 1.4;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  }
}
.el-menu{
  border: none;
}
.dyy_fieldset_title{
  border: none;
  border-top: 1px $borderColor solid;
  padding-left: 20px;
  legend{
    padding: 0 10px;
    font-size: 20px;
    font-weight: normal;
  }
  margin-bottom: 20px;
}
/* markdown table style */
.dyy_table {
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      th{
        background-color: #fdfdfd;
      }
      th,td {
        border: 1px $borderColor solid;
        line-height: 30px;
        padding: 3px 8px;
        code {
          background-color: #ebeef5;
          padding: 2px;
          border-radius: 3px;
        }
      }
    }
  }
}
.markdown {
  width: calc(100% - 150px);
}